<p *ngIf="!olxdata"><em>Loading...</em></p>

<apx-chart *ngIf="olxdata" [tooltip]="chartOptions.tooltip" [annotations]="chartOptions.annotations" [series]="chartOptions.series" [chart]="chartOptions.chart" [title]="chartOptions.title" [stroke]="chartOptions.stroke" [dataLabels]="chartOptions.dataLabels"></apx-chart>
<apx-chart *ngIf="olxdata" [tooltip]="chartOptions2.tooltip" [annotations]="chartOptions2.annotations" [series]="chartOptions2.series" [chart]="chartOptions2.chart" [title]="chartOptions2.title" [stroke]="chartOptions2.stroke" [dataLabels]="chartOptions2.dataLabels"></apx-chart>

